<%
	var options = {
		style: 'none'
	}
	var list = []
	if (is_archive()) {
		list = list_archives({
			style: 'none',
			transform: function(a) {
				return date(a, 'YYYY年MM月')
			}
		})
	}
	if (is_category()) {
		list = list_categories(options)
	}
	if (is_tag()) {
		list = list_tags(options)
	}
%>
<article class="hentry">
	<div class="entry-content" style="text-align: center;">
		<%- list %>
	</div>
</article>
<%- partial('_partial/article-archive', {
	posts: page.posts,
	groupBy: 'year'
}) %>