<%- partial('_partial/head') %>
<body>
	<div id="page" class="site">
		<%- partial('_partial/masthead') %>
		<main class="site-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, tempore, nam eligendi natus pariatur voluptatibus facere esse porro similique quidem nemo fuga dolor sapiente. Optio deleniti unde quia cupiditate?</p> 
    </main>
	</div>
  <%- partial('_partial/after-footer') %>
</body>
</html>