<aside class="widget">
	<h3 class="widget-title"><%= __('about') %></h3>
	<p><%- image_tag(gravatar('owlikesj@gmail.com', 100), {
		width: 100,
		height: 100
	}) %></p>
	<p>A front-end developer</p>
	<p>Life is short, and do something fresh everyday is my dream.</p>
</aside>