<aside class="widget">
	<h3 class="widget-title"><%= __('tags') %></h3>
	<div class="tagcloud">
		<%- tagcloud({
			min_font: 1,
			max_font: 1,
			unit: 'em',
			color: true,
			start_color: '#ffffff',
			end_color: '#ffffff'
		}) %>
	</div>
</aside>