.site-main
	background-color: #f2f2f2
	position: relative

.hentry
	background-color: #fff
	padding: 40px 0
	margin-bottom: 45px

/*
 * Entry Header
 */

.entry-header
	margin-bottom 30px

.entry-title
	font-weight normal
	margin 0 0 5px
	text-align center
	margin 0 30px 30px
	color #141414
	padding-top 60px
	line-height 1.2em
	-ms-word-wrap break-word
	word-wrap break-word
	a
		color #141414
		&:hover
			color #4f4f4f
			text-decoration none

/*
 * Entry meta
 */

.entry-meta
	clear both
	font-size 14px
	color #919191
	text-align center
	padding 0 20px
	a
		color #c3c3c3
		&:hover
			color #ababab
			text-decoration none
	.icon
		width 1.2em
		height 1.2em
	& > span
		margin-right 20px
		&:last-child
			margin-right 0

.entry-content
	padding 0 20px
	img
		max-width 100%

/*
 * Archive
 */
.post-list
	margin-left 0
