<footer class="site-footer" role="contentinfo">
	<div class="scroll-container">
		<a href="#" class="scrolltop">
			<svg class="icon icon-arrow-right" aria-hidden="true" role="img">
				<use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use>
			</svg>
		</a>
	</div>
	<div class="site-info">
		<p class="copyright">&copy; <%= config.author || config.title %> &bull; <%= date(new Date(), 'YYYY') %></p>
		<p class="copyright">Theme: inkthink refer WordPress</p>
		<p class="copyright">Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></p>
	</div>
</footer>