<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OwlikeBlog &#8211; 慕枭的个人博客</title>
	<%- css('css/style') %>
</head>
