<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OwlikeBlog &#8211; 慕枭的个人博客</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.7/featherlight.min.css">
	<%- css('css/style') %>
</head>
