<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-arrow-right" viewBox="0 0 43 32">
<path class="path1" d="M0.356 17.956c0.178 0.178 0.533 0.356 0.711 0.356h33.778l-10.311 10.489c-0.178 0.178-0.356 0.533-0.356 0.711 0 0.356 0.178 0.533 0.356 0.711l1.6 1.6c0.178 0.178 0.533 0.356 0.711 0.356s0.533-0.178 0.711-0.356l14.756-14.933c0.178-0.356 0.356-0.711 0.356-0.889s-0.178-0.533-0.356-0.711l-14.756-14.933c0-0.178-0.356-0.356-0.533-0.356s-0.533 0.178-0.711 0.356l-1.6 1.6c-0.178 0.178-0.356 0.533-0.356 0.711s0.178 0.533 0.356 0.711l10.311 10.489h-33.778c-0.178 0-0.533 0.178-0.711 0.356-0.356 0.178-0.533 0.356-0.533 0.711v2.311c0 0.178 0.178 0.533 0.356 0.711z"></path>
</symbol>
<symbol id="icon-folder" viewBox="0 0 32 32">
<title>folder</title>
<path d="M6 24v-16h6l1 2h7v2h-10l-2 4h2l1-2h15l-4 10h-16z"></path>
</symbol>
<symbol id="icon-tag" viewBox="0 0 32 32">
<title>tag</title>
<path d="M4 20l12-12h8v8l-12 12zM18 12q0 0.828 0.586 1.414t1.414 0.586 1.414-0.586 0.586-1.414-0.586-1.414-1.414-0.586-1.414 0.586-0.586 1.414z"></path>
</symbol>
<symbol id="icon-time" viewBox="0 0 32 32">
<title>time</title>
<path d="M4 15q0-2.234 0.867-4.273t2.344-3.516 3.516-2.344 4.273-0.867 4.273 0.867 3.516 2.344 2.344 3.516 0.867 4.273-0.867 4.273-2.344 3.516-3.516 2.344-4.273 0.867-4.273-0.867-3.516-2.344-2.344-3.516-0.867-4.273zM6 15q0 1.828 0.711 3.492t1.922 2.875 2.875 1.922 3.492 0.711 3.492-0.711 2.875-1.922 1.922-2.875 0.711-3.492-0.711-3.492-1.922-2.875-2.875-1.922-3.492-0.711-3.492 0.711-2.875 1.922-1.922 2.875-0.711 3.492zM14 15.406v-7.406h2v6.578l4.656 4.656-1.406 1.422z"></path>
</symbol>
</defs>
</svg>
