<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-arrow-right" viewBox="0 0 43 32">
<path class="path1" d="M0.356 17.956c0.178 0.178 0.533 0.356 0.711 0.356h33.778l-10.311 10.489c-0.178 0.178-0.356 0.533-0.356 0.711 0 0.356 0.178 0.533 0.356 0.711l1.6 1.6c0.178 0.178 0.533 0.356 0.711 0.356s0.533-0.178 0.711-0.356l14.756-14.933c0.178-0.356 0.356-0.711 0.356-0.889s-0.178-0.533-0.356-0.711l-14.756-14.933c0-0.178-0.356-0.356-0.533-0.356s-0.533 0.178-0.711 0.356l-1.6 1.6c-0.178 0.178-0.356 0.533-0.356 0.711s0.178 0.533 0.356 0.711l10.311 10.489h-33.778c-0.178 0-0.533 0.178-0.711 0.356-0.356 0.178-0.533 0.356-0.533 0.711v2.311c0 0.178 0.178 0.533 0.356 0.711z"></path>
</symbol>
<symbol id="icon-menu" viewBox="0 0 32 32">
<title>menu</title>
<path d="M21.344 22.656q1.088 0 1.872 0.784t0.784 1.904q0 1.088-0.768 1.872t-1.888 0.784h-18.688q-1.12 0-1.888-0.784t-0.768-1.872q0-1.12 0.784-1.904t1.872-0.784h18.688zM21.344 13.344q1.12 0 1.888 0.784t0.768 1.872-0.768 1.872-1.888 0.784h-18.688q-1.12 0-1.888-0.784t-0.768-1.872 0.768-1.872 1.888-0.784h18.688zM21.344 4q1.12 0 1.888 0.784t0.768 1.872q0 1.12-0.784 1.904t-1.872 0.784h-18.688q-1.088 0-1.872-0.784t-0.784-1.904q0-1.088 0.768-1.872t1.888-0.784h18.688z"></path>
</symbol>
</defs>
</svg>
